html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(220,220,220);
}

#app-container {
	height: 100%;
}

#game-screen {
	background-color: rgb(220, 220, 220);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#score-screen {
	background-color: rgb(220, 220, 220);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#empty-container {
	height: 15%;
}

#color-container {
	height: 60%;
}

#buttons-container {
	height: 25%;
	position: relative;
}

#button-yes {
	color: green;
	position: absolute;
	right: 20%;
	bottom: 30%;
}

#button-no {
	color: red;
	position: absolute;
	left: 20%;
	bottom: 30%;
}

#color-wheel {
	margin: 0 auto;
}

#score-screen {
	height: 100%;
	width: 100%;
}

#score-container {
	height: 75%;
	width: 100%;
}

#score {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #444;
}

#button-back {
	color: #66ccff;
	position: absolute;
	left: 20%;
	bottom: 30%;
}

#button-new-game {
	color: #00cc00;
	position: absolute;
	right: 20%;
	bottom: 30%;
}

.fadeout {
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.fadein {
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
