<div id="game-screen" ng-class="{fadeout:!playing}">
	<div id="empty-container">
		<br/>
	</div>
	<div id="color-container">
		<canvas id="color-wheel"></canvas>
	</div>
	<div id="buttons-container">
		<a class="button-left" id="button-no" ng-click="buttonNo()"><span class="fa-stack"><i class="fa fa-stack-2x fa-circle"></i><i class="fa fa-stack-1x fa-inverse fa-times"></i></span></a>
		<a class="button-right" id="button-yes" ng-click="buttonYes()"><span class="fa-stack"><i class="fa fa-stack-2x fa-circle"></i><i class="fa fa-stack-1x fa-inverse fa-check"></i></span></a>
	</div>
</div>
