<div id="score-screen">
	<div id="score-container">
		<div id="score" ng-bind="score"></div>
	</div>
	<div id="buttons-container">
		<a class="button-left" id="button-back" href="#/"><span class="fa-stack"><i class="fa fa-stack-2x fa-circle"></i><i class="fa fa-stack-1x fa-inverse fa-arrow-left"></i></span></a>
		<a class="button-right" id="button-new-game" href="#/game-canvas"><span class="fa-stack"><i class="fa fa-stack-2x fa-circle"></i><i class="fa fa-stack-1x fa-inverse fa-refresh"></i></span></a>
	</div>
</div>

